body {
    margin: 0;
    color: #F3F4F6;
}

.container {
    background: #E2856E;
    display: flex;
    justify-content: space-around;
    border: 4px solid #F3F4F6;
    border-radius: 15px;
    margin-top: 40px;
}

.individual-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    width: 185px;
    height: auto;
    color: #E11D48;
    font-size: 75pt;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 25px;
    font-family: 'DSEG7-Classic', monospace;
}

.team-name {
    font-size: 40px;
    margin: 30px 0px 15px 0px;
    font-family: Orbitron;
    text-align: center;
}

.score-btn-1, .score-btn-2, .score-btn-3, .score-btn-6 {
    background: #E2856E;
    margin-bottom: 40px;
    padding: 10px;
    border: 2px solid #D1D5DB;
    border-radius: 5px;
    color: #D1D5DB;
    font-family: 'DSEG7-Classic', monospace;
    font-size: 10pt;
}

#start-over {
    margin-bottom: 15px;
}

#new-game {
    background: #E2856E;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 10px;
    border: 2px solid #D1D5DB;
    border-radius: 5px;
    color: #D1D5DB;
    font-family: Orbitron;
    font-size: 10pt;
}